argcomplete==3.5.1
asgiref==3.8.1
async-timeout==4.0.3
charset-normalizer==3.3.2
colorama==0.4.6
commitizen==3.29.1
decli==0.6.2
Django==5.1.1
django-redis==5.4.0
djangorestframework==3.15.2
flake8==7.1.1
Jinja2==3.1.4
MarkupSafe==2.1.5
mccabe==0.7.0
packaging==24.1
prompt-toolkit==3.0.36
psycopg2-binary==2.9.9
pycodestyle==2.12.1
pyflakes==3.2.0
PyYAML==6.0.2
questionary==2.0.1
redis==5.1.1
sqlparse==0.5.1
termcolor==2.5.0
tomlkit==0.13.2
typing_extensions==4.12.2
wcwidth==0.2.13
